/*

Pseudoclases

    Dinamicas

    :link - (links) - link no esta visitado
    :visited - (links) - Link ya se visito
    :active - (links) - Al momento de dar click
    :hover - Al poner el mouse sobre el elemento
    :focus - Cuando un elemento tiene el foco

*/


.enlace:link {
    color:aqua;
}

.enlace:visited {
    color: red;
}

.enlace:active {
    background-color: black;
}

.boton {
    color: white;
    text-decoration: none;
    padding: 5px 10px ;
    background-color: green;
    border-radius: 5px;
    display: inline-block;
}

.boton:active {
    transform: scale(.8);
}

.boton:hover {
    color: green;
    background-color: white;
    border: 1px solid;
}

.foco:focus {
    background-color: pink;
    color: purple;
}

/*Target*/

.enlaceP {
    display: block;
    background-color: rebeccapurple;
    text-align: center;
    padding: 10px 0;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.parrafo {
    margin: 400px 0;
}

.parrafo:target {
    padding: 50px 0 0;
}


/*
Estado

:enabled
:disabled
:checked
:required
:valid
:invalid

:in-range
:out-of-range
*/

.label, .input {
    display: block;
}

.input:enabled {
    background-color: yellowgreen;
}

.input:disabled {
    background-color: yellow;
    border: none;
}

.input:checked + .label {
    font-size: 40px;
}

.input:optional {
    background-color: aqua;
}

.input:required {
    background-color: red;
}

.input:in-range {
  background-color: purple;  
}

.input:out-of-range {
    background-color: blue;  
  }







